<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="bg">
  <h1><b>Bienvenido</b></h1>
  <h5>{{ currentDate }}</h5>

  <!-- Itrera los pendientes y los muestra en el DOM -->
  <ion-card *ngFor="let task of tasks">
    <ion-item lines="none">
      <ion-checkbox (ionChange)="changeCheckState(task)" [(ngModel)]="task.checked"  color="sucess" slot="start"></ion-checkbox>
      <ion-label>
        <h2>{{ task.text }}</h2>
        <p>{{ task.date}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- Icon para asignar tareas-->
  <ion-card *ngIf="addTask">
    <ion-item lines="none">
      <ion-input [(ngModel)]="myTask" placeholder="Introduzca la tarea"></ion-input>
      <ion-button (click)="addTaskToFirebase()" shape="round" slot="end">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-button *ngIf="!addTask" (click)="showForm()" expand="block" class="add-button">
    <ion-icon name="add" slot="start"></ion-icon>
    Agregar una tarea
  </ion-button>

  <ion-button *ngIf="addTask" (click)="showForm()" expand="block" class="add-button">
    <ion-icon name="close" slot="start"></ion-icon>
    Cancelar
  </ion-button>
</div>


</ion-content>
